.profile{
    background-color: rgb(39, 38, 36);
}

#header{
    h1{        
        text-align: center;
        color: white;
        font-family: monospace;
    }
}
#profile-img{
    // margin-left: -2.15vh;
    
}
#profile-img img{
 
    // min-width: 255px;
}
#about-me{
    outline: 1px solid #2a2a2a;
    outline-offset: -1rem;
    padding: 1vh;
    padding-top: 6vh;
    background-color: #040303b3;
}

#about-me2 p{
    color: white;
    padding: 1vh;
    text-align: center;
}
.introduction p{
    font-size: 1.3rem;
    font-weight: 400;
    letter-spacing: 0.08rem;
}

.main-tec{
    margin: 0 auto;
  
}
.technogies {
    // margin: 0 auto;
    // display: block;
   
}
.technogies img {
    height: 5rem;
    width: auto;
    margin: 1.5rem;
    vertical-align: middle;

    // margin: 0 auto;
    // max-width: 12vh;
    // padding: 2vh;
    // margin:1vh;
}