
<div class="container-fluid profile">
    <br><br>
    <div class="row">
        <div class="container align-self-center" id="header">
            <h1>Profile <hr style="border-width: 2px; border-color: goldenrod;"> </h1>
            <br><br>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <div class="container-fluid" id="profile-img">
                    <img class="img-responsive" style="outline: 1px solid #2a2a2a;
                    outline-offset: -1rem; width: 100%;" src="./../../../assets/profileImg.jpeg" alt="">
                </div>
                <div class="container-fluid " id="about-me">
                    <div class="" id="about-me2">
                        <p><b>Name:</b> M.M.M Zamhar</p>
                    </div>
                    <hr style="margin-left: 10vh;margin-right: 10vh;border-color: goldenrod;">
                    <div class="" id="about-me2">
                        <p><b>Passion:</b> Fullstack Developer</p>
                    </div>               
                </div>
            </div>

            <div class="container col-sm-9 introduction">
                <h2 style="color: rgb(255, 255, 255);font-family: monospace;text-transform: uppercase; border-bottom: goldenrod solid 1px; width: fit-content;">Intro</h2>
                
                <p style="color:  rgb(255, 255, 255);">Hi, My Name is {{userName}}. <br>
                    (B.Sc in Software Engineering @ <a target="_blank" href="http://www.cardiffmet.ac.uk/Pages/default.aspx">Cardiff Metropolitan University</a> ) <br><br> </p>
                    
                    <p style="color:  rgb(255, 255, 255); text-align: justify; font-weight: 350;">Working as a Software Engineer  @Virtusa Private Limited in Developing Web Applications, & I am using Angular and Spring boot with other technogies and tools to construct well-built high concurrent web applications, and I am passionate about making the end-user experience as seamless as possible.</p>
                    
                    <p style="color: honeydew;">Exmine <a href="#" target="_blank" rel="noopener noreferrer">my cvs</a> </p>
            </div>
        </div>
    </div>
</div>
<!-- tecnplogies and langulages -->
<div style="background-color: rgb(39, 38, 36); color: white;" class="container-fluid">
    <div class="container"><br><br>
        <h2 style="text-align: center;">My Familiar Tools & Languages</h2>
        
        <hr style="border-color: white;"><br>
    </div>
    <div class="container main-tec">
        <div class="row technogies">
            <img  class="img-responsive " src="{{imgGithub}}" alt="">
            <img  class="img-responsive " src="{{imgJava}}" alt="">
            <img class="img-fluid  img-responsive" src="{{imgReact}}" alt="">
            <img  class="img-responsive " src="{{imgHtml5}}" alt="">
            <img  class="img-responsive " src="{{imgCss}}" alt="">
            <img class="img-fluid img-responsive" src="{{imgNodeJs}}" alt="">
            <img  class="img-responsive " src="{{imgTypescript}}" alt="">
            <img  class="img-responsive " src="{{imgMysql}}" alt="">
            <img class="img-fluid img-responsive" src="{{imgGithub}}" alt="">
        
            <img  class="img-responsive " src="{{imgGithub}}" alt="">
            <img  class="img-responsive " src="{{imgGithub}}" alt="">
            <img class="img-fluid  img-responsive" src="{{imgGithub}}" alt="">
            <img  class="img-responsive " src="{{imgGithub}}" alt="">
            <img  class="img-responsive " src="{{imgGithub}}" alt="">
            <img class="img-fluid  img-responsive" src="{{imgGithub}}" alt="">
            <img  class="img-responsive " src="{{imgGithub}}" alt="">
            <img  class="img-responsive " src="{{imgGithub}}" alt="">
            <img class="img-fluid  img-responsive" src="{{imgGithub}}" alt="">
                        
        </div>
    </div>
<br>
</div>
