.fluid-container{
	max-height: 75%;
}


// SASS Variables.
$text: #fff;
$link: #e34234;
$link-hover: #ba160c;
$background: rgb(3, 26, 49);

canvas {
  display: block;
  vertical-align: bottom;
}

#particles-js {
  position: initial;
  width: 100%;
  height: auto;
	background: $background
}

.text {
	position: absolute;
	top: 50%;
	right: 50%;
	transform: translate(50%,-50%);
	color: $text;
	max-width: 90%;
	padding: 2em 3em;
	background: rgba(0, 0, 0, 0.4);
	text-shadow: 0px 0px 2px #131415;
    font-family: 'Open Sans', sans-serif;
    padding: 12vh 30vh 12vh 30vh;
    text-align: center;
    color: #f71d1d;
}
@media screen and (max-width: 600px) {
	div.text {
		top: 30%;
	  margin: 0 auto;
	  max-height: 40vh;
	  
	}
  }

@media screen and (max-width: 600px) {
	div.text h1 {
	  font-size: 30px;
	  margin: 0 auto;
	  min-width: 20vh;
	  text-align: center;
	  margin-left: -2vh;
	}
  }
h1 {
	font-size: 3em;
	font-weight: 700;
    letter-spacing: -1px;
    text-align: center;
    color:gold;
    min-width: 50vh;
}

p{
	font-size: 1.1em;
	font-weight: bold;
}
